{% extends "NGSContentBundle:Admin/ContactBookSection:edit.html.twig" %}

{% block save_button %}
    <button
        type="submit"
        class="btn btn-primary"
    >
        {{ 'submit'|trans }}
    </button>
{% endblock %}