{% extends "NGSHomeBundle::home.html.twig" %}

{% block content %}
    <div class="art-title">
        <h3>{{ announcement.getTitle }}</h3>
        <span class="announcement-date">{{ announcement.getDate.format('d/M/Y') }}</span>
    </div>

    <p>{{ announcement.getDescription|striptags }}</p>
{% endblock %}
