{% extends "NGSHomeBundle::home.html.twig" %}

{% block content %}
    {% for service in services %}
        <h3 class="art-title">{{ service.getTitle }}</h3>
        <p>{{ service.getDescription|striptags }}</p>
    {% endfor %}
{% endblock %}